app:
  port: 9999
  logging.development: true
  swagger.enabled: true
  datasource:
    driver: mysql
    host: localhost
    port: 3306
    database: campaigns_manager
    username: root
    password: secret
    params: parseTime=true&multiStatements=true
    migrationSource: file://../../migration/migrations
  kafka:
    bootstrapServers: localhost:29092
    clientId: campaigns-manager-test
    consumer:
      handlerMappings:
        LockedSlotConsumer:
          topic: source.locked-slot.test
          groupId: campaigns-manager.public.locked-slot.test
          enable: true
  cron:
    jobs:
      LockedSlotJob:
        expression: "@every 5s"
        disable: true
